@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kodchasan", sans-serif;
}

body {
    background: linear-gradient(to bottom, #0f044c, #2309b2, #2309b2, #180a67);
}

.container {
    display: grid;
    grid-template-areas:
        'header header'
        'picture banner'
        'proyectos proyectos'
        'my mytext'
        'skills barra'
        'contact form'
        'footer footer';
    grid-template-columns: 50% 50%;
}

.header {
    grid-area: header;
    background-color: #050120;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4vw;
    position: sticky;
    top: 0;
    padding: 20px 0;
}

.header .portfolio {
    font-size: 2.5vw;
}

.header .nav-links {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding-top: 0.5vw;
    font-size: 1.3vw;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 1.3vw;
}

.header .nav-links a {
    font-size: 700;
    color: #787A91;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: white;
}

.header .name {
    font-size: 2.5vw;
}

h2 {
    color: #FFFFFF;
    font-size: 3vw;
    text-shadow: 3px 3px black;
    padding: 80px 0 0 200px;
}

.picture {
    grid-area: picture;
    background-color: #050120;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 21vw;
    height: auto;

}

.banner {
    grid-area: banner;
    background-color: #050120;
    color: #ffffff;
    font-size: 2.5vw;
    margin-left: -60px;

}

.banner .title {
    padding-top: 25px;
    padding-bottom: 30px;
}

.banner hr {
    background-color: white;
    height: 2px;
    width: 35vw;
}

.banner .pres {
    padding-top: 30px;
    padding-bottom: 20px;
}

.banner .banner-contact {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    width: 35vw;
}

.banner .paragraph {
    font-size: 1.5vw;
    padding-bottom: 20px;
}

.button {
    color: white;
    background-color: #2309B2;
    border-color: #787A91;
    height: 40px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.icons {
    color: white;
    border-color: #787A91;
}

.my {
    grid-area: my;
    background-color: #050120;
}

.linea-vertical1 {
    background-color: white;
    height: 10vw;
    width: 1px;
    margin-left: 650px;
    margin-top: -130px;
}

.mytext {
    grid-area: mytext;
    background-color: #050120;
    font-size: 24px;
    padding: 40px 0 40px 0;
}

.text-sobre-mi {
    padding-bottom: 15px;
    color: #FFFFFF;
}

.skills {
    grid-area: skills;
    color: #FFFFFF;
}

.tittleskills {
    text-align: center;
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.skills hr {
    background-color: white;
    height: 1px;
    width: 20vw;
    margin-top: 20px;
    margin-left: 230px;
}

.textskills {
    text-align: center;
    font-size: 28px;
    padding-top: 30px;
}

.bar {
    grid-area: barra;
    color: #FFFFFF;
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.tool {
    width: 180px;
    text-align: center;
    font-weight: bold;
}

.bar-item {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;

}

.percentage100 {
    width: 60%;
    background-color: #787A91;
}

.percentage {
    text-align: right;
    padding: 5px;
    font-size: 15px;
}

.html {
    background: linear-gradient(to right, #07031D, #0F044C, #3F3D4D);
    animation: fillhtml 2s forwards;
}

@keyframes fillhtml {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.css {
    background: linear-gradient(to right, #07031D, #0F044C, #3F3D4D);
    animation: fillcss 2s forwards;
}

@keyframes fillcss {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

.javascript {
    background: linear-gradient(to right, #07031D, #0F044C, #3F3D4D);
    animation: filljavascript 2s forwards;
}

@keyframes filljavascript {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

.react {
    background: linear-gradient(to right, #07031D, #0F044C, #3F3D4D);
    animation: fillreact 2s forwards;
}

@keyframes fillreact {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

.node {
    background: linear-gradient(to right, #07031D, #0F044C, #3F3D4D);
    animation: fillnode 2s forwards;
}

@keyframes fillnode {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

.sql {
    background: linear-gradient(to right, #07031D, #0F044C, #3F3D4D);
    animation: fillsql 2s forwards;
}

@keyframes fillsql {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

.mongodb {
    background: linear-gradient(to right, #07031D, #0F044C, #3F3D4D);
    animation: fillmongodb 2s forwards;
}

@keyframes fillmongodb {
    0% {
        width: 0;
    }

    100% {
        width: 5%;
    }
}

.contact {
    grid-area: contact;
    background-color: #050120;
}

.textcontact {
    font-size: 24px;
    padding: 40px 0 0 200px;
    color: #FFFFFF;
}

.linea-vertical2 {
    position: absolute;
    background-color: white;
    height: 25vw;
    width: 1px;
    margin-left: 700px;
    margin-top: 50px;
}

.form {
    grid-area: form;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    background-color: #050120;
}

.formitems {
    width: 80%;
    padding-top: 60px;
    padding-left: 100px;
}

.input {
    width: 80%;
    background-color: #838288;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 0 4px 20px;
    margin-top: 4px;
    border-radius: 5px;
    box-shadow: 6px 6px #2309B2;
    margin-bottom: 30px;
}

.button {
    background-color: #2309B2;
    border-color: #787A91;
    border-radius: 5px;
    box-shadow: 6px 6px #FFFFFF;
    margin-bottom: 50px;
}

.formbutton {
    display: flexbox;
    align-content: center;
    margin-left: 130px;
}

.footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 60px;
    color: #FFFFFF;
}

.copy {
    font-size: 20px;
    width: 20%;
    align-content: center;
}

.icons-footer {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*.go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #AEDEDE;
    color: #fff;
    text-decoration: none;
    display: none;
}

.go-top-btn:hover {
    background-color: #555;
}*/

/*h2 {
    color: #FFFFFF;
    font-size: 3vw;
    text-shadow: 3px 3px black;
}

.proyectos {
    grid-area: proyectos;
    position: inline;
}

div.projects {
    border: 5px solid black;
}

div.projects img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
}

.responsive {
    padding: 0 6px;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 60%;
        font-size: vw;
    }
}

.item4 {
    grid-area: footer;
}*/